<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>java-3-servlet-jsp</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>HelloServlet</display-name>
    <servlet-name>HelloServlet</servlet-name>
    <servlet-class>ndyudev.lab1.cau1.HelloServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HelloServlet</servlet-name>
    <url-pattern>/HelloServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CRUDServlet</display-name>
    <servlet-name>CRUDServlet</servlet-name>
    <servlet-class>ndyudev.lab1.crud.CRUDServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CRUDServlet</servlet-name>
    <url-pattern>/CRUDServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Lab2Slider</display-name>
    <servlet-name>Lab2Slider</servlet-name>
    <servlet-class>ndyudev.lab2.slider.Lab2Slider</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Lab2Slider</servlet-name>
    <url-pattern>/Lab2Slider</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Cau2</display-name>
    <servlet-name>Cau2</servlet-name>
    <servlet-class>ndyudev.lab1.Cau2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Cau2</servlet-name>
    <url-pattern>/Cau2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HomeServlet</display-name>
    <servlet-name>HomeServlet</servlet-name>
    <servlet-class>ndyudev.lab1.cau5.HomeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HomeServlet</servlet-name>
    <url-pattern>/HomeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TagServlet</display-name>
    <servlet-name>TagServlet</servlet-name>
    <servlet-class>ndyudev.lab2.slider.TagServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TagServlet</servlet-name>
    <url-pattern>/TagServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Thue</display-name>
    <servlet-name>Thue</servlet-name>
    <servlet-class>ndyudev.lab2.slider.Thue</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Thue</servlet-name>
    <url-pattern>/Thue</url-pattern>
  </servlet-mapping>
</web-app>